In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException,ElementNotVisibleException,ElementClickInterceptedException
from selenium.webdriver.common.by import By
from selenium.webdriver.support.select import Select
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.chrome.options import Options
import re
import time
import warnings
import requests

warnings.filterwarnings("ignore")

# Q1. Scrape the details of most viewed videos on YouTube from Wikipedia.

Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

You need to find following details:

A) Rank

B) Name

C) Artist

D) Upload date

E) Views

In [3]:
url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver=webdriver.Chrome(r"chromedriver.exe")
driver.maximize_window()
driver.get(url)

time.sleep(3)
rank=[]
name=[]
artist=[]
upload_date=[]
views=[]

rank_tag=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')
try:
    for i in rank_tag[0:30]:
        rank.append(i.text)
except NoSuchElementException:
    rank.append("-")
except ElementNotVisibleException:
    rank.append("--")
    
name_tag=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')
try:
    for i in name_tag[0:30]:
        v_name=i.text.split('[')
        name.append(v_name[0])
except NoSuchElementException:
    name.append("-")
except ElementNotVisibleException:
    name.append("--")
    
artist_tag=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')
try:
    for i in artist_tag[0:30]:
        artist.append(i.text)
except NoSuchElementException:
    artist.append("-")
    
date_tag=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')
try:
    for i in date_tag[0:30]:
        upload_date.append(i.text)
except NoSuchElementException:
    upload_date.append("-")
    
view_tag=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')
try:
    for i in view_tag[0:30]:
        views.append(i.text)
except NoSuchElementException:
    views.append("-")
    
driver.close()

most_viewed=pd.DataFrame({'Rank':rank,'Video Name':name,'Artist':artist,'Upload Date':upload_date,'Views':views})
most_viewed

,Rank,Video Name,Artist,Upload Date,Views
0,1.,"""Baby Shark Dance""",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.37
1,2.,"""Despacito""",Luis Fonsi,"January 12, 2017",8.09
2,3.,"""Johny Johny Yes Papa""",LooLoo Kids,"October 8, 2016",6.63
3,4.,"""Bath Song""",Cocomelon ‚Äì Nursery Rhymes,"May 2, 2018",6.03
4,5.,"""Shape of You""",Ed Sheeran,"January 30, 2017",5.92
5,6.,"""See You Again""",Wiz Khalifa,"April 6, 2015",5.79
6,7.,"""Phonics Song with Two Words""",ChuChu TV,"March 6, 2014",5.17
7,8.,"""Wheels on the Bus""",Cocomelon ‚Äì Nursery Rhymes,"May 24, 2018",4.95
8,9.,"""Uptown Funk""",Mark Ronson,"November 19, 2014",4.84
9,10.,"""Learning Colors ‚Äì Colorful Eggs on a Farm""",Miroshka TV,"February 27, 2018",4.83
10,11.,"""Gangnam Style""",Psy,"July 15, 2012",4.70
11,12.,"""Masha and the Bear ‚Äì Recipe for Disaster""",Get Movies,"January 31, 2012",4.53
12,13.,"""Dame Tu Cosita""",El Chombo,"April 5, 2018",4.24
13,14.,"""Sugar""",Maroon 5,"January 14, 2015",3.82
14,15.,"""Axel F""",Crazy Frog,"June 16, 2009",3.76
15,16.,"""Roar""",Katy Perry,"September 5, 2013",3.73
16,17.,"""Counting Stars""",OneRepublic,"May 31, 2013",3.73
17,18.,"""Sorry""",Justin Bieber,"October 22, 2015",3.63
18,19.,"""Thinking Out Loud""",Ed Sheeran,"October 7, 2014",3.55
19,20.,"""Baa Baa Black Sheep""",Cocomelon ‚Äì Nursery Rhymes,"June 25, 2018",3.51
20,21.,"""Waka Waka (This Time for Africa)""",Shakira,"June 4, 2010",3.48
21,22.,"""Dark Horse""",Katy Perry,"February 20, 2014",3.45
22,23.,"""Faded""",Alan Walker,"December 3, 2015",3.41
23,24.,"""Let Her Go""",Passenger,"July 25, 2012",3.38
24,25.,"""Girls Like You""",Maroon 5,"May 31, 2018",3.37
25,26.,"""Perfect""",Ed Sheeran,"November 9, 2017",3.37
26,27.,"""Bailando""",Enrique Iglesias,"April 11, 2014",3.34
27,28.,"""Lean On""",Major Lazer,"March 22, 2015",3.33
28,29.,"""Lakdi Ki Kathi""",Jingle Toons,"June 14, 2018",3.32
29,30.,"""Humpty the train on a fruits ride""",Kiddiestv Hindi ‚Äì Nursery Rhymes & Kids Songs,"January 26, 2018",3.31

# 2. Scrape the details team India‚Äôs international fixtures from bcci.tv. 
Url = https://www.bcci.tv/.

You need to find following details:

A) Match title (I.e. 1st ODI)

B) Series

C) Place

D) Date

E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [22]:
url = 'https://www.bcci.tv'
driver=webdriver.Chrome(r"chromedriver.exe")
driver.maximize_window()
driver.get(url)

match_title=[]
series=[]
place=[]
date=[]
m_time=[]

time.sleep(3)

#Click on INTERNATIONAL navigation
driver.find_element(By.XPATH,"//a[normalize-space()='INTERNATIONAL']").click()

time.sleep(3)
for _ in range(1):
    driver.execute_script("window.scrollBy(0,1000)")
    time.sleep(3)
    try:
        driver.find_element(By.XPATH,'/html[1]/body[1]/div[2]/div[2]/div[1]/div[1]/div[1]/div[2]/div[3]/div[2]/div[1]/button[1]').click()
    except NoSuchElementException:
        print("NoSuchElementException ")
    
title_tag=driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
try:
    for i in title_tag:
        match_title.append(i.text)
except NoSuchElementException:
    match_title.append("-")
match_title


series_tag=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
try:
    for i in series_tag:
        series.append(i.text)
except NoSuchElementException:
    series.append("-")
    

place_tag=driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
try:
    for i in place_tag:
        place.append(i.text)
except NoSuchElementException:
    place.append("-")
    


date_tag=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
try:
    for i in date_tag:
        date.append(i.text)
except NoSuchElementException:
    date.append("-")
    

time_tag=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
try:
    for i in time_tag:
        m_time.append(i.text)
except NoSuchElementException:
    m_time.append("-")
    
driver.close()


international_fixtures=pd.DataFrame({'Match Title':match_title,'Series':series,'Place':place,'Date':date,'Time':m_time})
international_fixtures

NoSuchElementException

,Match Title,Series,Place,Date,Time
0,Mumbai,AUSTRALIA TOUR OF INDIA 2023,Mumbai,17 MAR 2023,1:30 PM IST
1,Visakhapatnam,AUSTRALIA TOUR OF INDIA 2023,Visakhapatnam,19 MAR 2023,1:30 PM IST
2,Chennai,AUSTRALIA TOUR OF INDIA 2023,Chennai,22 MAR 2023,1:30 PM IST

### 3. Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/

You have to find following details:<br>
A) Rank<br>
B) State<br>
C) GSDP(18-19)<br>
D) GSDP(17-18)<br>
E) Share(2017)<br>
F) GDP($ billion)<br>
Note: - From statisticstimes home page you have to reach to economy page through code.

In [24]:
url='https://www.statisticstimes.com'
driver=webdriver.Chrome(r"chromedriver.exe")
driver.maximize_window()
driver.get(url)

time.sleep(3)
economy = driver.find_element(By.XPATH,"//*[@id='top']/div[2]/div[2]/button")
try:
    economy.click()
    driver.find_element(By.XPATH,'/html[1]/body[1]/div[2]/div[1]/div[2]/div[2]/div[1]/a[3]').click()
except ElementNotInteractableException:
    driver.get(economy.get_attribute('href'))
    
time.sleep(3)
try:
    ads=driver.find_element(By.XPATH,'//div[@class="ns-dbyfr-e-19 button-common close-button"]')
    ads.click()
    gdp = driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a").click()
except NoSuchElementException:
    driver.get('https://www.statisticstimes.com/economy/india/indian-states-gdp.php')
    
time.sleep(3)


rank=[]
state=[]
GSDP_19_20=[]
GSDP_18_19=[]
share_18_19=[]
GDP_billion=[]


state_rank=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[1]')
try:
    for i in state_rank:
        rank.append(i.text)
except NoSuchElementException:
    rank.append("-")
    
state_name=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[2]')
try:
    for i in state_name:
        state.append(i.text)
except NoSuchElementException:
    state.append("-")
        
GSDP_19_20_tag=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[3]')
try:
    for i in GSDP_19_20_tag:
        GSDP_19_20.append(i.text)
except NoSuchElementException:
    GSDP_19_20.append("-")
    
GSDP_18_19_tag=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[4]')
try:
    for i in GSDP_18_19_tag:
        GSDP_18_19.append(i.text)
except NoSuchElementException:
    GSDP_18_19.append("-")
    
share_18_19_tag=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[5]')
try:
    for i in share_18_19_tag:
        share_18_19.append(i.text)
except NoSuchElementException:
    share_18_19.append("-")
    
GDP_billion_tag=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[6]')
try:
    for i in GDP_billion_tag:
        GDP_billion.append(i.text)
except NoSuchElementException:
    GDP_billion.append("-")
    
    
driver.close()

StateWise_GDP=pd.DataFrame({'Rank':rank,'State':state,'GSDP 19-20':GSDP_19_20,'GSDP 18-19':GSDP_18_19,'Share 18-19':share_18_19,'GDP billion':GDP_billion})
StateWise_GDP

,Rank,State,GSDP 19-20,GSDP 18-19,Share 18-19,GDP billion
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

# 4. Scrape the details of trending repositories on Github.com. Url = https://github.com/
You have to find the following details:<br>
A) Repository title<br>
B) Repository description<br>
C) Contributors count<br>
D) Language used<br>

In [35]:
driver=webdriver.Chrome('chromedriver.exe')
driver.maximize_window()
url="https://github.com/"
driver.get(url)
explore = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]')
try:
    explore.click()
    time.sleep(5)
except ElementNotInteractableException:
    driver.get(explore.get_attribute('href'))

In [36]:


    
# Clicking on Trending under explore sub menu
trending = driver.find_element(By.XPATH,'//*[@href="/trending"]')
try:
    driver.get(trending.get_attribute('href'))
except ElementNotInteractableException:
    driver.get(trending.get_attribute('href'))
    
Repository_title= []
Repository_description= []
Contributors_count= []
Language_used= []
urls=[]

#Scraping title of repository
try:
    Repository_title_tag=driver.find_elements(By.XPATH,'//article[@class="Box-row"]/h1/a')
    for i in Repository_title_tag:
        Repository_title.append(i.text)
except NoSuchElementException:
    Repository_title.append('-')
    
#Scraping description of Repository
try:
    description=driver.find_elements(By.XPATH,'//article[@class="Box-row"]/p')
    for i in description:
        Repository_description.append(i.text)
except NoSuchElementException:
    Repository_description.append('-')

for i in [Repository_title_tag,description]:
    for j in i:
        if i ==Repository_title_tag:
            Repository_title.append(j.text)
            urls.append(j.get_attribute('href'))
        if i==description:
            Repository_description.append(j.text)
    
for url in urls:
    driver.get(url)
    driver.implicitly_wait(3)
    div_list=driver.find_elements(By.XPATH,'//div[@class="BorderGrid BorderGrid--spacious"]/div')
    #Scraping count of contributors   
    try:
        Contributors_count.append(((div_list[-2].text).split())[1])
    except:
        Contributors_count.append('-')
    #Scraping used language
    try:
        Language_used.append(((div_list[-1].text).split())[1::2])
    except:
        Language_used.append('-')
        
driver.close()


#creating Dataframe
github_trending=pd.DataFrame({"Repository_title":Repository_title[:25],"Repository_description":Repository_description[:25],"Language_used":Language_used[:25],"Contributors_count":Contributors_count[:25]})
github_trending

,Repository_title,Repository_description,Language_used,Contributors_count
0,togethercomputer / OpenChatKit,Official repo for the paper: Visual ChatGPT: T...,"[Python, Shell]",7
1,microsoft / visual-chatgpt,Port of Facebook's LLaMA model in C/C++,[Python],9
2,ggerganov / llama.cpp,Âü∫‰∫éÂêëÈáèÊï∞ÊçÆÂ∫ì‰∏éGPT3.5ÁöÑÈÄöÁî®Êú¨Âú∞Áü•ËØÜÂ∫ìÊñπÊ°à(A universal local kno...,"[C, C++, Python, Makefile, Other]",16
3,GanymedeNil / document.ai,Use ChatGPT to summarize the arXiv papers.,"[Python, HTML]",2
4,kaixindelele / ChatPaper,Port of OpenAI's Whisper model in C/C++,[Python],4
5,ggerganov / whisper.cpp,üòé Awesome lists about all kinds of interesting...,"[C, C++, Go, Python, CMake, Shell, Other]",65
6,sindresorhus / awesome,stable diffusion webui colab,"[552, 541]",by
7,camenduru / stable-diffusion-webui-colab,Learn how to design large-scale systems. Prep ...,"[Jupyter, 100.0%]",10
8,donnemartin / system-design-primer,Samples and Unpacker of malicious backdoors an...,"[Python, Shell]",117
9,davinci1012 / pinduoduo_backdoor_unpacker,A gradio web UI for running Large Language Mod...,"[Java, Python]",2
10,oobabooga / text-generation-webui,A package build system for Termux.,[Python],23
11,termux / termux-packages,‰∏Ä‰∏™‰ΩøÁî® NextJS + Notion API ÂÆûÁé∞ÁöÑÔºåÈÉ®ÁΩ≤Âú® Vercel ‰∏äÁöÑÈùôÊÄÅÂçöÂÆ¢...,"[Shell, C, Lua, C++, CMake, Python, Other]",382
12,tangly1024 / NotionNext,üîé Hunt down social media accounts by username ...,"[JavaScript, CSS, Dockerfile]",21
13,sherlock-project / sherlock,Vim-fork focused on extensibility and usability,"[Python, Dockerfile]",195
14,neovim / neovim,A simple chatbot starter kit for OpenAI's chat...,"[Vim, 44.5%, 31.5%, 22.8%, 0.5%, 0.5%, 0.2%]",948
15,bmaltais / kohya_ss,This repository is primarily maintained by Oma...,"[Python, Other]",7
16,mckaywrigley / chatbot-ui,Display and control your Android device,"[TypeScript, JavaScript, CSS]",-
17,The-Art-of-Hacking / h4cker,"The tool can install v2ray on the Doprax, incl...","[Jupyter, 80.2%, 10.9%, Text, 2.8%, 2.3%, 2.1%...",14
18,CS-BAOYAN / CSSummerCamp2023,Create your own ChatGPT App in seconds.,"[2, Yifan, zengkaipeng]",-
19,Genymobile / scrcpy,Create web-based UI with Python. The nice way.,"[C, Java, Roff, Meson, Shell, Makefile, Other]",108
20,hiifeng / V2ray-for-Doprax,Collection of publicly available IPTV channels...,"[Dockerfile, Shell]",4
21,futantan / OpenGpt,Official repo for the paper: Visual ChatGPT: T...,"[TypeScript, JavaScript, CSS, Shell]",5
22,zauberzeug / nicegui,Port of Facebook's LLaMA model in C/C++,"[Python, JavaScript, CSS, HTML, Shell, Vue, Do...",14
23,iptv-org / iptv,Âü∫‰∫éÂêëÈáèÊï∞ÊçÆÂ∫ì‰∏éGPT3.5ÁöÑÈÄöÁî®Êú¨Âú∞Áü•ËØÜÂ∫ìÊñπÊ°à(A universal local kno...,"[JavaScript, Shell]",216
24,yuvalsuede / ai-component-generator,Use ChatGPT to summarize the arXiv papers.,"[TypeScript, CSS, JavaScript, Shell]",3

# 5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/
You have to find the following details:<br>
A) Song name<br>
B) Artist name<br>
C) Last week rank<br>
D) Peak rank<br>
E) Weeks on board<br>
Note: - From the home page you have to click on the charts option then hot 100-page link through code.<br>

In [39]:
driver=webdriver.Chrome('chromedriver.exe')
driver.maximize_window()
url='https://www.billboard.com'
driver.get(url)
time.sleep(5)

nav=driver.find_element(By.XPATH,"/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a")
nav.click()

time.sleep(5)

In [40]:

#Hot 100 songs
hot_100=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]/a')
hot_100.click()

Name=[]
Artist=[]
rank=[]

#Scraping name
Name_tag=driver.find_elements(By.XPATH,"//h3[@class='c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 u-font-size-23@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-245 u-max-width-230@tablet-only u-letter-spacing-0028@tablet']")
for i in Name_tag:
    Name.append(i.text)

#Scraping artist
Artist_tag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet']")
for i in Artist_tag:
    Artist.append(i.text)

#Scraping rank
rankTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet']")
for i in rankTag[:3]:
    rank.append(i.text )
    
#Scraping name
Rank=[]
nameTag=driver.find_elements(By.XPATH,"//h3[@class='c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only']")
for i in nameTag:
    Name.append(i.text )

#Scraping artist
artistTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only']")
for i in artistTag:
    Artist.append(i.text )

#Scraping rank
RankTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max']")
for i in RankTag:
    Rank.append(i.text)
    
    
# removing ''
for i in Rank:
    if i=='':
        Rank.remove(i)
        
# slicing Data
last_week_rank=Rank[0::3]
last_week_rank.insert(0,rank[0])
peak_rank=Rank[1::3]
peak_rank.insert(0,rank[1])
weeks_on_board=Rank[2::3]
weeks_on_board.insert(0,rank[2])

driver.close()
# Create Dataframe
songs_top=pd.DataFrame({"Name":Name[:100],"Artist":Artist[:100],"Last Week Rank":last_week_rank[0:100],"Peak Rank":peak_rank[0:100],"Weeks On Board":weeks_on_board[0:100]})
songs_top

,Name,Artist,Last Week Rank,Peak Rank,Weeks On Board
0,Die For You,The Weeknd & Ariana Grande,6,1,31
1,Flowers,Miley Cyrus,1,1,7
2,Kill Bill,SZA,2,2,12
3,"Boy's A Liar, Pt. 2",PinkPantheress & Ice Spice,3,3,4
4,Last Night,Morgan Wallen,5,3,5
...,...,...,...,...,...
95,Besties,Karol G,-,82,1
96,Yandel 150,Yandel & Feid,,,
97,Manana Sera Bonito,Karol G & Carla Morrison,-,83,1
98,The Color Violet,Tory Lanez,,,
99,Die 4 Me,Halsey,49,49,2

# 6. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/<br>
You have to find the following details:<br>
A) Book name<br>
B) Author name<br>
C) Volumes sold<br>
D) Publisher<br>
E) Genre<br>

In [41]:
driver=webdriver.Chrome('chromedriver.exe')
driver.maximize_window()
url='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)

book_name=[]
author_name=[]
volumes_sold=[]
publisher=[]
genre=[]

b_name=driver.find_elements(By.XPATH,'/html[1]/body[1]/div[1]/div[2]/div[2]/div[1]/div[2]/div[1]/table[1]/tbody[1]/tr/td[2]')
try:
    for i in b_name:
        book_name.append(i.text)
except:
    book_name.append("-")
    
a_name=driver.find_elements(By.XPATH,'/html[1]/body[1]/div[1]/div[2]/div[2]/div[1]/div[2]/div[1]/table[1]/tbody[1]/tr/td[3]')
try:
    for i in a_name:
        author_name.append(i.text)
except:
    author_name.append("-")
    
v_sold=driver.find_elements(By.XPATH,'/html[1]/body[1]/div[1]/div[2]/div[2]/div[1]/div[2]/div[1]/table[1]/tbody[1]/tr/td[4]')
try:
    for i in v_sold:
        volumes_sold.append(i.text)
except:
    volumes_sold.append("-")
    
b_publisher=driver.find_elements(By.XPATH,'/html[1]/body[1]/div[1]/div[2]/div[2]/div[1]/div[2]/div[1]/table[1]/tbody[1]/tr/td[5]')
try:
    for i in b_publisher:
        publisher.append(i.text)
except:
    publisher.append("-")
    
b_genre=driver.find_elements(By.XPATH,'/html[1]/body[1]/div[1]/div[2]/div[2]/div[1]/div[2]/div[1]/table[1]/tbody[1]/tr/td[6]')
try:
    for i in b_genre:
        genre.append(i.text)
except:
    genre.append("-")
    
driver.close()
Highest_selling_novels=pd.DataFrame({'Book Name':book_name,'Author Name':author_name,'Volumes sold':volumes_sold,'Publisher':publisher,'Genre':genre})
Highest_selling_novels

,Book Name,Author Name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 7. Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/<br>
You have to find the following details:<br>
A) Name<br>
B) Year span<br>
C) Genre<br>
D) Run time<br>
E) Ratings<br>
F) Votes<br>

In [187]:
driver=webdriver.Chrome('chromedriver.exe')
driver.maximize_window()
url='https://www.imdb.com/list/ls095964455'
driver.get(url)

name=[]
year=[]
genre=[]
run_time=[]
ratings=[]
votes=[]

s_name=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/a')
try:
    for i in s_name:
        name.append(i.text)
except:
    name.append("--") 
    
s_year=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/span[2]')
try:
    for i in s_year:
        year.append(i.text)
except:
    year.append("--")   

s_genre=driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"]/span[5]')
try:
    for i in s_genre:
        genre.append(i.text)
except:
    genre.append("--")
    
r_time=driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"]/span[3]')
try:
    for i in r_time:
        run_time.append(i.text)
except:
    run_time.append("--")   

rating=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-widget"]/div/span[2]')
try:
    for i in rating:
        ratings.append(i.text)
except:
    ratings.append("--")
    
vote=driver.find_elements(By.XPATH,'//span[@name="nv"]')
try:
    for i in vote:
        votes.append(i.text)
except:
    votes.append("--")
    
driver.close()
tv_series=pd.DataFrame({'Name':name,'Year Span':year,'Genre':genre,'Run Time':run_time,'Ratings':ratings,'Votes':votes})
tv_series

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011‚Äì2019),"Action, Adventure, Drama",57 min,9.2,"2,046,719"
1,Stranger Things,(2016‚Äì ),"Drama, Fantasy, Horror",51 min,8.7,"1,143,245"
2,The Walking Dead,(2010‚Äì2022),"Drama, Horror, Thriller",44 min,8.1,"967,525"
3,13 Reasons Why,(2017‚Äì2020),"Drama, Mystery, Thriller",60 min,7.5,"288,651"
4,The 100,(2014‚Äì2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"248,237"
...,...,...,...,...,...,...
95,Reign,(2013‚Äì2017),Drama,42 min,7.4,"49,528"
96,A Series of Unfortunate Events,(2017‚Äì2019),"Adventure, Comedy, Drama",50 min,7.8,"60,530"
97,Criminal Minds,(2005‚Äì2020),"Crime, Drama, Mystery",42 min,8.1,"194,678"
98,Scream: The TV Series,(2015‚Äì2019),"Comedy, Crime, Drama",45 min,7.1,"41,004"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"236,164"

# 8. Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/
You have to find the following details:<br>
A) Dataset name<br>
B) Data type<br>
C) Task<br>
D) Attribute type<br>
E) No of instances<br>
F) No of attribute<br>
G) Year<br>
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [190]:
driver=webdriver.Chrome('chromedriver.exe')
driver.maximize_window()
url='https://archive.ics.uci.edu/ml/index.php'
driver.get(url)

#clicking on view all Dataset
Dataset= driver.find_elements(By.XPATH,"//span[@class='normal']/b/a")[0].get_attribute('href')
driver.get(Dataset)

# Scraping dataset
data=[]
try:
    data_tag=driver.find_elements(By.XPATH,"//td//p[@class='normal']")
    for i in data_tag[8:4362]:
        data.append(i.text )
except:
    data.append('-')
    
#slicing dataset
Dataset_name=data[::7]
Data_type=data[1::7]
Task=data[2::7]
Attribute_type=data[3::7]
instances=data[4::7]
attribute=data[5::7]
Year=data[6::7]

driver.close()
#creating Dataframe
Datasets= pd.DataFrame({"Dataset name":Dataset_name,"Data type":Data_type,"Task":Task,"Attribute type":Attribute_type,"Instances":instances,"Attribute":attribute,"Year":Year})
Datasets

,Dataset name,Data type,Task,Attribute type,Instances,Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021

# 9. Scrape the details of Data science recruiters from naukri.com. 
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [45]:
driver=webdriver.Chrome('chromedriver.exe')
driver.maximize_window()
url='https://www.naukri.com/hr-recruiters-consultants'
driver.get(url)

designation_text='Data science'
designation_search=driver.find_element(By.XPATH,'//input[@class="sugInp"]')
designation_search.send_keys(designation_text)

search=driver.find_element(By.XPATH,'//button[@id="qsbFormBtn"]')
search.click()

name=[]
designation=[]
company=[]
skills=[]
location=[]


r_name=driver.find_elements(By.XPATH,'//span[@class="fl ellipsis"]')
try:
    for i in r_name:
        name.append(i.text)
except:
    name.append("-")
    
r_designation=driver.find_elements(By.XPATH,'//span[@class="ellipsis clr"]')
try:
    for i in r_designation:
        designation.append(i.text)
except:
    designation.append("-")
    
r_company=driver.find_elements(By.XPATH,"//a[@class='ellipsis']")[1::2]
try:
    for i in r_company:
        company.append(i.text)
except:
    company.append("-")


r_skills=driver.find_elements(By.XPATH,'//div[@class="hireSec highlightable"]')
try:
    for i in r_skills:
        skills.append(i.text)
except:
    skills.append("-")
    
r_location=driver.find_elements(By.XPATH,'//small[@class="ellipsis"]')
try:
    for i in r_location:
        if i.text == None:
            location.append("--")
        else:
            location.append(i.text)
except:
    location.append("--") 
    
driver.close()
#creating Dataframe
recruiters=pd.DataFrame({"Name":name[:48],"Designation":designation[:48],"Company":company[:48],"Skills":skills[:48],"Location":location[:48]})
recruiters

,Name,Designation,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
13,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
14,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
15,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
16,Vaishnavi Kudalkar,HR Executive,Codeachive learning,"Data Science, Python, Data Analytics",Mumbai
17,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
18,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
25,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
26,Deeparchi Sharma,Company Recruiter,ZIGRAM,"Research, Digital Marketing, Analytics, Softwa...",Gurgaon
27,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
28,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
29,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
30,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
31,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
32,Dhruv Dev Dubey,Company Recruitment Head,NETAPS FOUNDATION,"Server Administartion, Verilog, Vhdl, Digital ...",Noida
33,Avnish Mishra,Senior Technical &amp; Corporate Recruiter,RMS Risk Management Solutions,"Data Science, Machine Learning, Deep Learning,...",Mysoru / Mysore
34,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Hyderabad / Secunderabad
35,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Bengaluru / Bangalore
36,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",New Delhi
37,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
38,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
39,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
40,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
41,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
42,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
43,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
44,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
45,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
46,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
47,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore