WEB SCRAPING – ASSIGNMENT 2

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [1]:
#install selinum
!pip install selenium

Requirement already satisfied: selenium in c:\users\teddynino\anaconda3\lib\site-packages (4.8.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\teddynino\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\teddynino\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\teddynino\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio~=0.17 in c:\users\teddynino\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: cffi>=1.14 in c:\users\teddynino\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\teddynino\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in c:\users\teddynino\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\teddynino\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\teddynino\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\teddynino\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sortedcontainers in c:\users\teddynino\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\teddynino\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: pycparser in c:\users\teddynino\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\teddynino\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\teddynino\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\teddynino\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [1]:
#import header files
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
#access crome driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [3]:
#visiting website
driver.get("https://www.naukri.com/")

In [4]:
#send data
desg=driver.find_element(By.CLASS_NAME,"suggestor-input ")
desg.send_keys("Data Analyst")

In [5]:
loc=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
loc.send_keys("Banglore")

In [6]:
#click search
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [166]:
#create empty array
titles=[]
location=[]
company=[]
experience=[]

In [167]:
#retrive required data
tit=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in tit[0:10]:
    tit=i.text
    titles.append(tit)

In [168]:
loc=driver.find_elements(By.XPATH,'//span[@title="Bangalore/Bengaluru "]')
for i in loc[0:10]:
    loc=i.text
    location.append(loc)

In [169]:
com=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in com[0:10]:
    com=i.text
    company.append(com)

In [170]:
exp=driver.find_elements(By.XPATH,'//span[@title="Bangalore/Bengaluru "]')
for i in exp[0:10]:
    exp=i.text
    experience.append(exp)

In [171]:
#check length
print(len(titles),len(location),len(company),len(experience))

10 10 10 10

In [172]:
#dataframe
import pandas as pd
d1=pd.DataFrame({"titles":titles[0:10],"location":location[0:10],"company_name":company[0:10],"experience":experience[0:10]})
d1

,titles,location,company_name,experience
0,Data Analyst,Bangalore/Bengaluru,Entrupy,Bangalore/Bengaluru
1,Data Analyst,Bangalore/Bengaluru,EY,Bangalore/Bengaluru
2,Data Analyst,Bangalore/Bengaluru,What Digital Technologies,Bangalore/Bengaluru
3,Data Analyst,Bangalore/Bengaluru,Siemens,Bangalore/Bengaluru
4,Data Analyst,Bangalore/Bengaluru,Aon,Bangalore/Bengaluru
5,Data Analyst,Bangalore/Bengaluru,Excellence And Eminence Llp,Bangalore/Bengaluru
6,Data Analyst,Bangalore/Bengaluru,Quess It Staffing,Bangalore/Bengaluru
7,Data Analyst - EdTech,Bangalore/Bengaluru,Talentstack Consulting,Bangalore/Bengaluru
8,Data Analyst,Bangalore/Bengaluru,Staffice Global,Bangalore/Bengaluru
9,Data Analyst,Bangalore/Bengaluru,Qualitest,Bangalore/Bengaluru

Q2:Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results youget.
5. Finally create a dataframe of the scraped data.

In [55]:
#import header file
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [202]:
#acess driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [203]:
#open site
driver.get("https://www.naukri.com/")

In [204]:
#send data
skill=driver.find_element(By.CLASS_NAME,'suggestor-input ')
skill.send_keys("Data Scientist")

In [205]:
place=driver.find_element(By.XPATH, '/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
place.send_keys("Bangalore")

In [206]:
#click search
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [207]:
#empty array
titles=[]
location=[]
company=[]
experience=[]

In [208]:
#access and retrive data
tit=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in tit[0:10]:
    tit=i.text
    titles.append(tit)

In [211]:
loc=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in loc[0:10]:
    loc=i.text
    location.append(loc)

In [214]:
com=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in com[0:10]:
    com=i.text
    company.append(com)

In [212]:
exp=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in exp[0:10]:
    exp=i.text
    experience.append(exp)

In [215]:
#get lenth
print(len(titles[0:10]),len(location[0:10]),len(company[0:10]),len(experience[0:10]))

10 10 10 10

In [216]:
#print in datafframe
import pandas as pd
d2=pd.DataFrame({"titles":titles[0:10],"location":location[0:10],"company_name":company[0:10],"experience":experience[0:10]})
d2

,titles,location,company_name,experience
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,2-4 Yrs
1,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,6-8 Yrs
2,Data Scientist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Cognizant,8-10 Yrs
3,Sr. Data scientist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Tata Consultancy Services (TCS),7-12 Yrs
4,Data Scientist,"Hybrid - Bangalore/Bengaluru, Kolkata, Hyderab...",Capgemini,9-14 Yrs
5,Expert Data Scientist,"Bangalore/Bengaluru, Hyderabad/Secunderabad, M...",UPL Limited,8-10 Yrs
6,Lead Data Scientist,"Bangalore/Bengaluru, Noida, Kolkata, Mumbai, H...",Birlasoft,8-12 Yrs
7,Lead Artificial Intelligence Specialist,"Bangalore/Bengaluru, Mumbai",Baker Hughes,5-10 Yrs
8,Lead data scientist,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Siemens,8-10 Yrs
9,Senior Director/Head - Data Science & Analytics,Bangalore/Bengaluru,Vertex Corporate,20-25 Yrs

In [ ]:
Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
        You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get thewebpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the searchbutton.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results youget.
6. Finally create a dataframe of the scraped data.

In [7]:
#import header files
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [8]:
#open chrome
driver=webdriver.Chrome(r"chromedriver.exe")

In [9]:
#open site
driver.get("https://www.naukri.com/")

In [10]:
#send data
skill=driver.find_element(By.CLASS_NAME,'suggestor-input ')
skill.send_keys("Data Scientist")

In [11]:
#click search
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [12]:
#apply filter
checkbox=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]')
checkbox.click()

In [ ]:
checkbox1=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]')
checkbox1.click()

In [ ]:
#empty array
titles=[]
location=[]
company=[]
experience=[]

In [250]:
#access and retrive data
tit=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in tit[0:10]:
    tit=i.text
    titles.append(tit)

In [245]:
loc=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in loc[0:10]:
    loc=i.text
    location.append(loc)

In [246]:
com=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in com[0:10]:
    com=i.text
    company.append(com)

In [247]:
exp=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in exp[0:10]:
    exp=i.text
    experience.append(exp)

In [248]:
#Check length
print(len(titles[0:10]),len(location[0:10]),len(company[0:10]),len(experience[0:10]))

10 10 10 10

In [249]:
#create  Dataframe
import pandas as pd
d3=pd.DataFrame({"titles":titles[0:10],"location":location[0:10],"company_name":company[0:10],"experience":experience[0:10]})
d3

,titles,location,company_name,experience
0,Data Scientist data Analyst,"Delhi / NCR, Kolkata, Hyderabad/Secunderabad, ...",Smark Laser Automation,0-5 Yrs
1,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
2,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
3,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
4,Senior Data Scientist - Statistics,Gurgaon/Gurugram,Optum,5-8 Yrs
5,Data Scientist,"Delhi / NCR, Noida(Sector-136 Noida), Ghaziaba...",Extramarks Education,3-5 Yrs
6,Data Scientist,Gurgaon/Gurugram,Gartner India Research &amp; Advisory Services...,2-7 Yrs
7,Associate Data Scientist - ML & NLP,Gurgaon/Gurugram,Gartner India Research &amp; Advisory Services...,2-4 Yrs
8,Data Scientist,Noida,Gujarat Fluorochemicals,1-2 Yrs
9,Data Scientist,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru...",Torcai Digital Media,2-7 Yrs

 Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. ProductDescription
3. Price

In [222]:
#import header files
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [223]:
#open chrome
driver=webdriver.Chrome(r"chromedriver.exe")

In [224]:
#open site
driver.get("https://www.flipkart.com/")

In [225]:
#pass data
skill=driver.find_element(By.CLASS_NAME,'_3704LK ')
skill.send_keys("Sunglasses")

In [226]:
#click search
search=driver.find_element(By.XPATH,'/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search.click()

In [227]:
#empty arrat
brand=[]
description=[]
price=[]

In [228]:
#acess and read data

for l in range(0,30):

    br=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in br:
        br=i.text
        brand.append(br)
    desc=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in desc:
        desc=i.text
        description.append(desc)
    
    pr=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in pr:
        pr=i.text
        price.append(pr)
try:
        nav=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[1]')
        nav.click()
except NoSuchElement as ex:
        print("ex.message")

In [230]:
#check length
print(len(brand),len(description),len(price))

1200 1200 1200

In [231]:
#create dataframe
d4=pd.DataFrame({"brand":brand[0:100],"product description":description[0:100],"price":price[0:100]})
d4

             brand                                product description price
0   ROZZETTA CRAFT  UV Protection, Gradient Rectangular Sunglasses...  ₹423
1    VINCENT CHASE     Polarized, UV Protection Round Sunglasses (50)  ₹829
2             SRPM             UV Protection Wayfarer Sunglasses (50)  ₹149
3         Fastrack  Gradient, UV Protection Wayfarer Sunglasses (F...  ₹629
4        Elligator  UV Protection Cat-eye, Retro Square, Oval, Rou...  ₹149
..             ...                                                ...   ...
95  ROZZETTA CRAFT  UV Protection, Gradient Rectangular Sunglasses...  ₹377
96          PIRASO              UV Protection Aviator Sunglasses (54)  ₹208
97          PIRASO           UV Protection Clubmaster Sunglasses (54)  ₹224
98       Elligator                UV Protection Round Sunglasses (53)  ₹149
99       ROYAL SON                Others Retro Square Sunglasses (58)  ₹499

[100 rows x 3 columns]

In [ ]:
#import headers

In [233]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [234]:
#open chrome
driver=webdriver.Chrome(r"chromedriver.exe")

In [235]:
#acess page
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market")

In [236]:
#empty array
rating=[]
rev=[]
ful=[]

In [237]:
#access and read data
for l in range(0,30):

    ra=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in ra[0:100]:
        ra=i.text
        rating.append(ra)
    r=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in r[0:100]:
        r=i.text
        rev.append(r)
    fu=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in fu[0:100]:
        fu=i.text
        ful.append(fu)
try:
        nav=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav')
        nav.click()
except NoSuchElement as ex:
        print("ex.message")

In [238]:
#check length
print(len(rating),len(rev),len(ful))

300 300 300

In [239]:
#create dataframe
d5=pd.DataFrame({"rating":rating[0:100],"review_summary":rev[0:100],"full_review":ful[0:100]})
d5

,rating,review_summary,full_review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
3,5,Best in the market!,Great iPhone very snappy experience as apple k...
4,5,Highly recommended,It's my first time to use iOS phone and I am l...
...,...,...,...
95,5,Worth every penny,Previously I was using one plus 3t it was a gr...
96,5,Perfect product!,Value for money\n5 star rating\nExcellent came...
97,5,Highly recommended,What a camera .....just awesome ..you can feel...
98,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
99,4,Pretty good,I was using Iphone 6s and also Oneplus 6t. Bot...

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price

In [1]:
#import headers
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
#open chrome
driver=webdriver.Chrome(r"chromedriver.exe")

In [12]:
#open site
driver.get("https://www.flipkart.com/")

In [13]:
#send data
skill=driver.find_element(By.CLASS_NAME,'_3704LK ')
skill.send_keys("Sneakers")

In [14]:
#click search
search=driver.find_element(By.XPATH,'/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search.click()

In [15]:
#empty aarray
brand=[]
description=[]
price=[]

In [16]:


#access and read data
for l in range(0,30):

    br=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in br:
        br=i.text
        brand.append(br)
    desc=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in desc:
        desc=i.text
        description.append(desc)
    
    pr=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in pr:
        pr=i.text
        price.append(pr)
try:
        nav=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[1]')
        nav.click()
except NoSuchElement as ex:
        print("ex.message")

In [17]:
#check length
print(len(brand),len(description),len(price))

1200 1200 1200

In [18]:
#Create dataframe with data
d4=pd.DataFrame({"brand":brand[0:100],"product description":description[0:100],"price":price[0:100]})
d4

      brand                                product description price
0        TR                                   Sneakers For Men  ₹699
1    Labbin                                   Sneakers For Men  ₹449
2       SFR                                   Sneakers For Men  ₹289
3     BIRDE      Combo Pack of 2 Casual Shoes Sneakers For Men  ₹499
4    BRUTON              Canvas shoes for Men Sneakers For Men  ₹249
..      ...                                                ...   ...
95  Nilatin  Numenzo White Canvas Sneaker For Men Sneakers ...  ₹563
96   BRUTON             2 Combo Sneaker Shoes Sneakers For Men  ₹499
97   Shozie  Stylish Walking Partywear Sneakers Casual Shoe...  ₹389
98    BIRDE  Trendy And Stylish New Design Casual Shoe For ...  ₹449
99     aadi  Mesh |Lightweight|Comfort|Summer|Trendy|Walkin...  ₹479

[100 rows x 3 columns]

Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then
set CPU Type filter to “Intel Core i7” as shown in the below image:
    After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [134]:
#import headers
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [135]:
#open chrome
driver=webdriver.Chrome(r"chromedriver.exe")

In [136]:
#open site
driver.get("https://www.amazon.in/")

In [137]:
#send data
skill=driver.find_element(By.ID,'twotabsearchtextbox')
skill.send_keys("Laptop")

In [138]:
#search sent data
search=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [139]:
#apply filter
checkbox=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[6]/li[13]/span/a/div')
checkbox.click()

In [140]:
#empty array
brand=[]
description=[]
price=[]

In [142]:
#access and read data
for l in range(0,30):

    br=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
    for i in br[0:10]:
        br=i.text
        brand.append(br)
    
    pr=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
    for i in pr[0:10]:
        pr=i.text
        price.append(pr)

In [144]:
#output in Dataframe
d4=pd.DataFrame({"brand_description":brand[0:10],"price":price[0:10]})
d4

                                   brand_description   price
0  Mi Notebook Pro QHD+ IPS Anti-Glare Display In...  54,999
1  Honor MagicBook X14, 11th Gen Intel Core i5-11...  46,990
2  (Renewed) Dell Latitude E5470 Intel Core i5 6t...  18,199
3  ASUS VivoBook 14 (2021), Intel Core i5-1035G1 ...  39,990
4  (Renewed) DELL Latitude 5490 Core i5 8th Gen L...  24,274
5  HP ProBook 440 G8 Notebook PC, 11th Gen Intel ...  51,990
6  (Renewed) Dell Latitude Laptop E7470 Intel Cor...  51,990
7  HP 15s, 12th Gen Intel Core i5 8GB RAM/512GB S...  20,999
8  HP 15s, 11th Gen Intel Core i5-1155G7, 15.6 in...  58,018
9  Lenovo (Renewed) Thinkpad T460 14-inch (35 cm)...  52,490

Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on TopQuotes
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [1]:
#import headers
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
#open chrome
driver=webdriver.Chrome(r"chromedriver.exe")

In [3]:
#open site
driver.get("https://www.azquotes.com/")

In [4]:
#click top Quotes
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
search.click()

In [5]:
#empty array
quotes=[]
author=[]
Type=[]

In [6]:

#access and read data
for l in range(0,30):

    br=driver.find_elements(By.XPATH,'//a[@class="title"]')
    
    for i in br:
        br=i.text
        quotes.append(br)
    au=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in au:
        au=i.text
        author.append(au)
    
    pr=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in pr:
        pr=i.text
        Type.append(pr)
try:
        nav=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a')
        nav.click()
except NoSuchElement as ex:
        print("ex.message")

In [8]:
#check length
print(len(quotes),len(author),len(Type))

3000 3000 3000

In [10]:
#output in dataframe
d4=pd.DataFrame({"Quotes":quotes[0:1000],"Author":author[0:1000],"Quote_Type":Type[0:1000]})
d4

,Quotes,Author,Quote_Type
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
996,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
997,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
998,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
999,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead,
Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:
1. First get the webpagehttps://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make theDataFrame

In [158]:
#import headers
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [159]:
#open chrome
driver=webdriver.Chrome(r"chromedriver.exe")

In [160]:
#open site
driver.get("https://www.jagranjosh.com/")

In [161]:
#click gk
search=driver.find_element(By.XPATH,'/html/body/div/div[1]/div/div[1]/div/div[6]/div/div[1]/header/div[3]/ul/li[9]/a')
search.click()

In [163]:
#select topic
searc=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
searc.click()

In [164]:
name=[]
born_dead=[]
Term=[]
remark=[]

In [ ]:
#read table
output_lst = []

for tr in driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]'):
    
    tds = tr.find_elements(By.TAG_NAME,'p')
    output_lst = [td.text for td in tds]

In [ ]:
#output in Dataframe
d6=pd.DataFrame({"output":output_lst})
d6

Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e.
Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpagehttps://www.motor1.com/
2. Then You have to click on the List option from Dropdown menu on leftside.
3. Then click on 50 most expensive carsin the world..
4. Then scrap the mentioned data and make the dataframe.

In [145]:
#import header files
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [146]:
#access chrome
driver=webdriver.Chrome(r"chromedriver.exe")

In [147]:
#access site
driver.get("https://www.motor1.com/")

In [149]:
#click dropdown menu
search=driver.find_element(By.XPATH,'/html/body/div[3]/div[2]/div/div/div[1]/div')
search.click()

In [153]:
#select list
searc=driver.find_element(By.XPATH,'/html/body/div[4]/div[1]/div[3]/ul/li[5]/a')
searc.click()

In [154]:
#click topic
sear=driver.find_element(By.XPATH,'/html/body/div[3]/div[7]/div/div[1]/div[1]/div[2]/div/div[1]/h3/a')
sear.click()

In [155]:
#empty array
name=[]
price=[]

In [156]:
#access and read data
br=driver.find_elements(By.XPATH,'//h3[ @class="subheader"]')
    for i in br:
        br=i.text
        name.append(br)
    au=driver.find_elements(By.TAG_NAME,'strong')
    for i in au:
        au=i.text
        price.append(au)

In [157]:
#output in dataframe
d5=pd.DataFrame({"name":name,"price":price})  
d5

                                name                        price
0                      De Tomaso P72          Price: $1.3 Million
1                  Ferrari LaFerrari          Price: $1.4 Million
2                      Pagani Huayra          Price: $1.4 Million
3                       McLaren Elva
4                        Czinger 21C          Price: $1.7 Million
5                      Ferrari Monza          Price: $1.7 Million
6                 Gordon Murray T.33          Price: $1.7 Million
7                  Koenigsegg Gemera          Price: $1.7 Million
8                        Zenvo TSR-S          Price: $1.7 Million
9                 Hennessey Venom F5          Price: $1.7 Million
10                   Bentley Bacalar          Price: $1.8 Million
11     Hispano Suiza Carmen Boulogne          Price: $1.9 Million
12            Bentley Mulliner Batur          Price: $1.9 Million
13                      Deus Vayanne          Price: $2.0 Million
14                       SSC Tuatara          Price: $2.0 Million
15                       Lotus Evija         Price: $2.0 Million*
16               Aston Martin Vulcan          Price: $2.1 Million
17                        Delage D12          Price: $2.3 Million
18                 McLaren Speedtail          Price: $2.3 Million
19                      Rimac Nevera          Price: $2.3 Million
20                     Pagani Utopia          Price: $2.4 Million
21              Pininfarina Battista          Price: $2.5 Million
22                 Ferrari FXX K Evo          Price: $2.5 Million
23                Gordon Murray T.50          Price: $2.6 Million
24              Lamborghini Countach          Price: $2.6 Million
25          Mercedes-AMG Project One          Price: $2.6 Million
26               Aston Martin Victor          Price: $2.7 Million
27       Hennessey Venom F5 Roadster          Price: $3.0 Million
28                  Koenigsegg Jesko                 $3.0 Million
29             Aston Martin Valkyrie          Price: $3.0 Million
30         W Motors Lykan Hypersport          Price: $3.2 Million
31                     McLaren Solus          Price: $3.4 Million
32         Pagani Huayra Roadster BC                 $3.5 Million
33          Bugatti Chiron Pur Sport          Price: $3.5 Million
34                  Lamborghini Sian          Price: $3.6 Million
35                  Koenigsegg CC850          Price: $3.6 million
36   Bugatti Chiron Super Sport 300+          Price: $3.7 Million
37                Lamborghini Veneno          Price: $3.9 Million
38                    Bugatti Bolide          Price: $4.5 Million
39                   Bugatti Mistral          Price: $4.7 Million
40               Pagani Huayra Imola          Price: $5.0 Million
41                      Bugatti Divo          Price: $5.4 Million
42               SP Automotive Chaos          Price: $5.8 Million
43                  Pagani Codalunga          Price: $6.4 Million
44          Mercedes-Maybach Exelero          Price: $7.4 Million
45                Bugatti Centodieci          Price: $8.0 Million
46           Bugatti Chiron Profilée          Price: $9.0 Million
47              Rolls-Royce Sweptail         Price: $10.8 Million
48          Bugatti La Voiture Noire         Price: $12.8 Million
49            Rolls-Royce Boat Tail*         Price: $13.4 Million
50  Most Expensive Cars In The World  Price: $28.0 Million (est.)